body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(251, 251, 250);
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  text-align: center;
}
img {
  border-radius: 100%;
  margin-top: 20px;
}

nav {
  background-color: #444;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: rgb(245, 247, 250);
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #877979;
}

.project {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
#about {
  border-top: 2px solid brown;
  border-bottom: 2px solid brown;
  background-color: bisque;
}
